<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myController">
        <h1>Product List : </h1>
        <input type="text" ng-model="newProduct" placeholder="Add new product"> <button ng-click="addProduct()">Add</button>
         <ol>
            <li ng-repeat="product in products">{{product}} <button ng-click="deleteProduct(product)">Remove</button></li>
        </ol>
        <input ng-model="user.email" required ng-pattern="/\S+@\S+\.\S+/">
<span ng-show="form.email.$error.required">Email required</span>
        <select ng-model="selectedProduct" ng-options="p.name for p in products"></select>

        <button ng-click="getEmployees()">GetEmployees</button>
        <ol>
            <li ng-repeat="employee in employees">{{employee.employee_name}}</li>
        </ol>
    </div>
</body>
</html>